.card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 24px;
  gap: 24px;
  background: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.checkContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.bottomButtons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .bottomButtons {
    flex-direction: column;
    gap: 6px;
  }
}
